FABRIC_TEST_HOST=example.datawarehouse.pbidedicated.windows.net
FABRIC_TEST_DB=TestDWH
FABRIC_TEST_AUTH=cli
DBT_TEST_USER_1=DBT_TEST_USER_1
DBT_TEST_USER_2=DBT_TEST_USER_2
DBT_TEST_USER_3=DBT_TEST_USER_3
